.menu{
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color:white;
  transform: translateX(100%);
  z-index: 9999;
  transition: 0.4s;
  background-color: #F1F1F1;

  &.active{
    transform: translateX(0%);
  }

  &__header{
    padding: 20px 35px;

    @media (min-width: 768px){  
      padding: 20px 35px 55px;
    }

    @media (min-width: 1400px){  
      padding: 59px 91px;
    }
  }

  &__logo{
    position: relative;
    top: 0px;
    width: 200px;

    svg{
      transition: 0.4s;
    }

    &:hover{

      svg{
        transform: rotate(180deg);
      }
    } 

    @media (min-width: 768px) and (min-height: 500px){
      left: 22px;
      top: 34px;
    }

    @media (min-width: 1400px) {
      top: 20px;
    }

    svg{
      position: absolute;
      top: 22px;
      left: -27px;
      height: 12px;

      @media (min-width: 768px) and (min-height: 500px){  
        top: 29px;
        left: -29px;
        height: 19px;
      }

      @media (min-width: 1440px){
        top: 34px;
        left: -29px;
        height: 22px;
      }
    }

    h1{
      font-size: 26px;
      font-family: "gt-flexa-medium";
      line-height: 29px;

      @media (min-width: 768px) and (min-height: 500px){
        font-size: 34px;
        line-height: 40px;
      }

      @media (min-width: 1440px){
        font-size: 44px; 
        line-height: 49px;
      }
    }
  }

  &__close{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    position: absolute;
    top: 1px;
    right: 18px;

    @media (min-width: 768px) and (min-height: 500px){
      right: 47px;
      top: 34px;
    }

    &:hover{

      svg{
        transform: rotate(180deg);
      }
    }

    svg{
      height: 5px;
      width: 25px; 
      transition: 0.4s;

      @media (min-width: 768px) and (min-height: 500px){
        width: 48px;
        height: 8px;
      }
    }
  }

  &__inner{
    padding: 36px;
    padding-top: 58px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    height: calc(var(--vh, 1vh) * 100 - 98px);

    &::-webkit-scrollbar{
      display: none;
    }


    @media (min-width: 768px) and (min-height: 500px){
      padding: 43px;    
      padding-top: 0px;
      height: calc(var(--vh, 1vh) * 100);
    }

    @media (min-width: 1024px){  
      flex-direction: row;
      justify-content: space-between;
      overflow: inherit;
    }

    @media (min-width: 1400px){ 
      padding: 91px;
      height: 100%;
    }
  }

  &__left{
    padding-bottom: 150px;
    order: 1;

    @media (min-width: 768px) and (min-height: 500px){
      width: 70%;
      display: flex;
      align-self: flex-end;
      flex-direction: column;
      margin-top: -15vw;    
      padding-bottom: 0;
    }

    @media (min-width: 1024px){  
      align-self: flex-end;
      width: 50%;
      max-width: 608px; 
      padding-bottom: 150px;   
    }

    @media (min-width: 1400px){  
      margin-bottom: 85px;
    }

    p{
      margin-top: 23px;
      width: 85%;
    }

    & .gatsby-image-wrapper {
      width: calc(100% - 10px);

      @media (min-width: 768px) and (min-height: 500px){
        width: 100%; 
      }
    }
  }

  &__right{
    order: -1;

    @media (min-width: 768px) and (min-height: 500px){
      margin-top: 12px;
    }

    @media (min-width: 1024px){  
      order: 1;
      margin-right: 4%;
      margin-top: -151px;
      overflow: auto;
      padding-bottom: 100px;
      padding-top: 100px;
      z-index: 999999;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;
  
      &::-webkit-scrollbar{
        display: none;
      }        
    }

    @media (min-width: 1400px){  
       margin-right: calc(5% + 48px);
       margin-top: -282px;
    }

    @media (min-width: 1600px){  
      margin-right: calc(5% + 207px);
    }

    a{
      display: block;
      margin-bottom: 15px;
      
      span{
        position: relative;
      }

      & span:after{
        content: "";
        width: 0%;
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        background-color: #2A2A2A;
        transition: 0.4s;

        @media (min-width: 768px) and (min-height: 500px){
          height: 5px;
          bottom: -8px;
        }

      }

      &:hover{

        & span:after{ 
          width: 100%;
        }
      }

      &.active{        

        & span:after{ 
          width: 100%;
        }

        &:hover{
          opacity: 1;
        }
      }

      @media (min-width: 768px) and (min-height: 500px){
        margin-bottom: 18px;
      }

      @media (min-width: 1400px){
        margin-bottom: 53px;
      }
    }
  }

  &__right-bottom{
    margin-top: 86px;
    margin-bottom: 105px;

    @media (min-width: 1400px){
      margin-top: 159px;
    }
  }
}