.scrolling-quotes{

  &__heading{
    display: flex;
    margin-top: 83px;

    @media (min-width: 1024px){
      margin-top: 103px;
    }

    h2{
      font-size: 19px;
      line-height: 23px;
      width: 95%;

      @media (min-width: 768px){
        font-size: 40px;  
        line-height: 49px;
        max-width: 93%;
      }
    
      @media (min-width: 1024px){
        font-size: 50px;  
        line-height: 60px;
        max-width: 100%;
      }
    }

    svg{
      transform: rotate(90deg);
      height: 14px;
      margin-left: 6px;
      margin-top: 4px;
      position: absolute;

      @media (min-width: 768px){
        height: 27px;
        margin-left: 14px;
        margin-top: 13px;
        position: absolute;
      }
    
      @media (min-width: 1024px){
        height: 35px;
        width: 31px;
        margin-left: 14px;
        margin-top: 12px;
        position: absolute;
      }
    }
  }

  &__quotes{
    margin-top: 49px;
    overflow: hidden;
    border-width: 1px;
    margin-left: -16px;
    width: calc(100% + 32px);

    
    @media (min-width: 1024px){
      margin-left: -40px;
      width: calc(100% + 80px);
    }

  }

  &__item{
    border-top: solid #24D43D;
    border-width: 1px;
    display: flex;
    overflow: hidden;

    &:last-of-type{
      border-bottom: solid #24D43D;
      border-width: 1px;
    }
  }

  &__item-hidden{
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: 37px;
    padding-bottom: 37px;
    transform: translateY(100%);
    transition: 0.4s;

    &.active{
      transform: translateY(100%);
    }

    p{
      font-family: 'gt-flexa-mono-italic';
      font-weight: 300;
      font-size: 18px;

      @media (min-width: 768px){
        font-size: 30px;
      }
    }

    h4{
      font-family: 'gt-flexa-mono';
      font-size: 20px;
      font-weight: 500;
      padding-top: 37px;

      &:hover{
        svg{
          transform: rotate(180deg);
        }
      }
    }

    svg{
      height: 14px;
      width: 17px;
      transition: 0.4s;
    }
  }

  &__item-left{
    display: flex;
    align-items: center;
    padding: 17px 16px;
    white-space: nowrap;
    text-transform: uppercase;
    background-color: #F1F1F1;
    z-index: 8;

    h2{
      font-size: 15px;

      @media (min-width: 768px){
        font-size: 50px;
      }

      @media (min-width: 1180px){
        font-size: 70px;
      }
    }

    @media (min-width: 768px){
      padding: 26px 35px;
    }

    svg{
      margin-left: 14px;
      height: 14px;
      width: 17px;

      @media (min-width: 768px){
        margin-left: 46px;
        height: 35px;
        width: 30px;
      }

      @media (min-width: 1180px){
        margin-left: 48px;

      }

      path{
        fill: #DC25FD;
      }
    }
  }

  &__item-right{
    flex: 1;
  }

  &__item-right-inner{
    display: flex;
    align-items: center;
    height: 86px;
    position: relative;
    transition: 0.4s;

    @media (min-width: 768px){
      height: 132px;
    }

    &.hidden{
      transform: translateY(-100%);
    }

    h2{
      font-family: 'gt-flexa-mono';
      font-weight: 300;
      font-style: italic;
      font-size: 25px;
      line-height: 85px;
      white-space: nowrap;
      transition-timing-function: linear !important;

      @media (min-width: 768px){
        font-size: 40px;
      }

      @media (min-width: 1024px){
        font-size: 70px;
      }
    }
  }
}